.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d1d5db;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 0px;
    height: 7vh;
}

.right-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.left-header {
    display: flex;
}

.hcmutLogo {
    height: 60px;
    margin-right: 10px;
}

.navigation {
    display: flex;
    gap: 10px;
}

.nav-a {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0px 10px 0px 30px;
}
