.hof-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    animation: fade 1s;
    width: 50%;
    margin: 0 auto;

    .filter-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;
    }

    .filter-bar {
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .filterIcon {
        margin-right: 20px;
    }

    .filter-dropdown {
        padding: 8px;
        font-size: 16px;
    }

    .title {
        font-family: 'Cursive', sans-serif;
        font-size: 24px;
        margin: 0;
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .list-item {
        display: flex;
        align-items: center;
        padding-left: 10px;
        background-color: #25aae1;
        border-radius: 5px;
        color: white;
    }

    .list-item:nth-child(even) {
        background-color: #0f75bc;
    }

    .rank {
        padding: 10px;
        border-radius: 5px 0 0 5px;
        font-weight: bold;
        width: 40px;
        text-align: center;
    }

    .name {
        flex-grow: 1;
        padding-left: 40px;
    }

    .score {
        background-color: #facc15;
        padding: 16px;
        border-radius: 0 5px 5px 0;
        font-weight: bold;
        color: black;
    }

    .GPA {
        display: flex;
        justify-content: center;
        background-color: #facc15;
        padding: 10px;
        border-radius: 0 5px 5px 0;
        font-weight: bold;
        color: black;
        min-width: 50px;
    }
}
